// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'typography';
@import 'util';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#home {
    .hero {

        .title {
            font-weight: 800;
            font-size: 54px;
            line-height: 64px;
        }

        .subtitle {
            font-size: 44px;
            font-weight: 600;
        }

        p.lead {
            font-size: 30px;
        }

        .cta {
            background-color: $color-primary;
            color: white;
            font-size: 44px;
            font-weight: bold;
        }
    }
}

.subscriber-list {
    .subscriber {
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 10px;
    }
}
